.container {
    scroll-snap-type: y mandatory;
    overflow: scroll;
    height: 100vh;

    .main {
        background-image: url('/main_light.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
        background-position-x: 80%;
        height: 100vh;
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;

        [data-theme='dark'] & {
            background-image: url('/main_dark.png');
        }

        .header {
            display: grid;
            flex-grow: 1;

            .title {
                grid-area: 1 / 1;
                width: 184px;
                fill: #fff;
                margin: 24px 24px 0px 24px;
            }

            .nav {
                grid-area: 1 / 1;
                justify-self: center;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: flex-start;
                margin: 24px;
                gap: 16px;
                flex-wrap: wrap;

                button {
                    outline: none;
                    border: none;
                    background: none;
                    color: #fff;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    gap: 4px;
                    align-items: center;
                    justify-content: center;

                    svg {
                        fill: #fff;
                        height: 1em;
                        width: 1em;
                    }

                    @media (hover: hover) and (pointer: fine) {
                        &:hover {
                            border-bottom: 1px solid #fff;
                        }
                    }

                }
            }
        }

        @media (max-width:600px) {
            .header {
                grid-template-rows: auto 1fr;
                justify-items: center;

                .title {
                    grid-area: 1/1;
                }

                .nav {
                    grid-area: 2/1;
                    align-self: center;

                    button {
                        background-color: oklch(25% 0 0 / 0.75);
                        border-radius: 8px;
                        width: 96px;
                        height: 96px;
                        flex-direction: column;
                        gap: 8px;

                        svg {
                            width: 36px;
                            height: 36px;
                        }
                    }
                }
            }
        }


    }

    .scroll-indicator {
        width: 48px;
        height: 48px;
        animation: scroll-indicator-animation 2s infinite;
        cursor: pointer;
        outline: none;
        background: none;
        border: none;
        margin-top: auto;
        align-self: center;

        svg {
            fill: #fff;
        }
    }

    .category {
        height: 100vh;
        scroll-snap-align: start;
        padding: 36px;
        display: flex;
        flex-direction: column;

        .category-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 24px;

            svg {
                width: 36px;
                height: 36px;
                fill: var(--primary-color);
            }

            div {
                font-size: 1.5rem;
                font-weight: bold;
                color: var(--primary-color);
            }
        }

        .scroll-indicator{
            svg{
                fill: var(--text-color);
            }
        }
    }



}

@keyframes scroll-indicator-animation {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

.btn-theme {
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    position: fixed;
    bottom: 16px;
    right: 32px;
    background-color: var(--primary-color);
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;

    svg {
        width: 32px;
        height: 32px;
        fill: #fff;
    }
}

.btn-lang {
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    position: fixed;
    bottom: 80px;
    right: 32px;
    background-color: var(--primary-color);
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
}